.notes-container {
  display: grid;
  grid-template-columns: 300px;
  font-family: 'Barlow', sans-serif;
}

.notes-list {
  grid-column: 2/-1;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 44px 40px 1fr;
  grid-template-columns: 2fr repeat(2, 0.8fr) 1fr; 
}