.notes-container {
  display: grid;
  grid-template-columns: 300px;
  width: 670px;
  font-family: 'Barlow', sans-serif;
}

.notes-list {
  grid-column: 2/-1;
  height: 100vh;
  display: grid;
  grid-template-rows: 99px 1fr;
  grid-template-columns: 370px;
}

.notes-header {
  padding: 0px 25px;
  font-family: sans-serif;
  letter-spacing: 1px;
  border: 1.5px solid #E6E6E6;
  background-color: #F8F8F8;

  h1 {
    font-size: 20px;
    margin: 21px 0px;
    color: #333333;
  }

  h2 {
    color: #666666;
    font-size: 13px;
  }
}

.notes-index {
  grid-row: 2;
  overflow: scroll;
  background-color: #F8F8F8;
  border: 1.5px solid #E6E6E6;
  border-top: none;
  list-style: none;
  cursor: pointer;
}

.notes-index-items {
  position: sticky;
  height: 120px;
  border-bottom: 1px solid #E6E6E6;
}

.notes-content {
  height: 88px;
  padding: 16px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  border-bottom: 1px solid #E6E6E6;

  h1 {
    font-size: 14px;
    color: #333333;
  }

  h2 {
    font-size: 14px;
    color: #737373;
    margin-top: 6px;
    height: 42px;
    overflow: hidden;
    line-height: 1.6;
  }


  h3 {
    font-size: 10px;
    color: #737373;   
  }
}

.note-show-link {
  text-decoration: none;
}



.note-edit-container {
  position: absolute;
  left: 672px;
  bottom: 50px;
  font-family: 'Barlow', sans-serif;
  width: 600px;

  h1 {
    position: absolute;
    bottom: 638px;
    font-size: 36px;
    margin-left: 40px;
  }

  h2 {
    position: absolute;
    bottom: 393px;
    margin-left: 35px;
    line-height: 1.6;
  }
}