.notes-container {
  display: grid;
  grid-template-columns: 300px;
  font-family: 'Barlow', sans-serif;
}

.notes-list {
  grid-column: 2/-1;
  height: 100vh;
  display: grid;
  grid-template-rows: 99px 1fr;
  grid-template-columns: 370px 1fr;
}

.notes-header {
  padding: 0px 25px;
  font-family: sans-serif;
  letter-spacing: 1px;
  border: 1.5px solid #E6E6E6;
  background-color: #F8F8F8;

  h1 {
    font-size: 20px;
    margin: 21px 0px;
    color: #333333;
  }

  h2 {
    color: #666666;
    font-size: 13px;
  }
}

.notes-index {
  grid-row: 2;
  overflow: scroll;
  background-color: #F8F8F8;
  border: 1.5px solid #E6E6E6;
  border-top: none;
  list-style: none;

}

.notes-index-items {
  position: sticky;
  height: 120px;
  border-bottom: 1px solid #E6E6E6;
}