// Place all the styles related to the api::notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nb-container {
  display: grid;
  grid-template-columns: 300px;
  font-family: 'Barlow', sans-serif;
}

.notebook-list {
  grid-column: 2/-1;
  height: 100vh;
  padding: 0 30px;
  display: grid;
  grid-template-rows: 80px 44px 40px 1fr;
  grid-template-columns: 2fr repeat(2, 0.8fr) 1fr; 
  align-items: center;
  font-size: 10px;
}

.notebook-list > h1 {
  font-size: 20px;
}

.notebook-list > h2 {
  grid-row: 2;
  font-size: 16px;
}

.new-notebook-btn{
  grid-row: 2;
  grid-column: 4;
  background-color: white;
  border: white;
  font-size: 14px;
  color: #01A82D;
  justify-self: right;
  display:flex;
  justify-content: space-between;
}

.new-notebook-btn > i {
  font-size: 10px;
  margin-right: 5px;
  align-self: center;
}

.notebook-header {
  grid-row: 3;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 2fr repeat(2, 0.8fr) 1fr; 
  background-color: #F8F8F8;
  color: #B8B8B8;
  padding: 13px 0;
  border-top: 2px solid black;
}

.notebook-header h3 {
  margin: 0 10px;
}

.notebook-action {
  text-align: right;
}

.notebook-body {
  grid-row-start: 4;
  grid-column: 1/-1; 
  align-self: start;
}

.notebook-body ul {
  display: grid;
  grid-template-columns: 2fr repeat(2, 0.8fr) 1fr; 
  list-style-type: none;
  padding: 13px 0;
  color: #777777;
  font-size: 14px;
}

.notebook-body ul:hover {
  background-color: #F2F2F2;
}

.notebook-body ul li {
  margin: 0 10px;
}

.notebook-body ul > i {
  text-align: right;
  margin-right: 10px;
}

.notebook-body ul:nth-child(even) {
  background-color: #F8F8F8;
}

.notebook-body ul:nth-child(even):hover {
  background-color: #F2F2F2;
}

.notebook-title {
  display: flex;
  flex-direction: row;
  color: #555555;
}

.notebook-title p {
  margin: 0 5px;
}

