// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-page {
  background-color: #EAF8F0;
  display: flex;
  justify-content: center;
  height: 100vh;
 }

 .session-wrapper {
  background-color: #ffffff;
  align-self: center;
  // border: black solid 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 62.12px 99px 48px;
  width: 314px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, Hevetica, sans-seif;
 }

 .session-heading {
  h1 {
    font-size: 45px;
    font-weight: bold;
  }

  h2 {
    margin: 25px 0 44px 0;
  }

  img {
    width: 70px;
    height: 70px;
  }
 }

.session-inputs {
  border-radius: 7px;
  border: 1px solid #e6e6e6;
  padding: 12px 16px;
  width: 100%;
  margin: 0 0 5px 0;
  line-height: 19px;
  font-size: 16px;
  box-sizing: border-box;
}

.session-inputs:focus {
    outline-color: #dff2e6;
}

.session-button {
  background-color: #01A82D;
  border-color: #01A82D;
  width: 100%;
  border-radius: 7px;
  padding: 5px 0;
  line-height: 2.75;
  color: white;
  margin-top: 7px;
  margin-bottom: 14px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
}

.session-button:hover {
  background-color: #008f26;
  border-color: #008f26;
}

.session-footer {
  font-size: 16px;
  line-height: 18px;
  // color: #00a82d;
  span {
    font-size: 13px;
     color: #a6a6a6;
     margin: 0 5px;
  }

  p {
    font-size: 14px;
    color: #737373;
    margin: 30px 0 10px 0;
  }
}

.demo-button {
  border-radius: 7px;
  cursor: pointer;
  border: solid 1px #d0d0d0;
  background-color: white;
  width: 100%;
  line-height: 2.5;
  margin-bottom: 10px;
  color: #757575;
  font-size: 14px;
}

// .session-link {
//   text-decoration: none;
// }
