// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-page {
   background-color: #EAF8F0;
  display: flex;
  justify-content: center;
  height: 100vh;
 }

 .session-wrapper {
  background-color: white;
  align-self: center;
 }

 .session-heading {
   text-align: center;
 }

