.sidebar {
  width: 300px;
  background-color: #1B1B1B;
  font-family: 'Barlow', sans-serif;
  display: grid;
  grid-template-rows: 119px 40px 1fr;
  grid-template-columns: 300px;
  color: #CCCCCC;
}

.sidebar-user {
  cursor: pointer;
}

.user-info {
  display: flex;
  margin: 20px;
  margin-bottom: 25px;
}

.user-info > i {
  margin-right: 10px;
  font-size: 30px;
}

.user-info > h2 {
  margin-top: 7px;
  font-size: 14px;
}

.logout-btn {
  border: none;
  background: transparent;
  color: #CCCCCC;
  cursor: pointer;
  margin-left: 10px;
}

.LOdropdown-open {
  border: 1px solid #333333;
  background:  #333333;
  color: #CCCCCC;
  // display: flex;
  padding: 10px 119px;
  border-radius: 3px;
  margin-left: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
}

.sidebar-lists {
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  font-size: 16px;

  span{
    padding: 13px;
  }

  span:hover {
    background-color: #333333;
  }
}

.sidebar-notes-link {
  text-decoration: none;
  color: #CCCCCC;
  margin-left: 10px;

  i {
    margin-right: 10px;
  }
}

.sidebar-nb-link {
  text-decoration: none;
  color: #CCCCCC;
  margin-left: 10px;

  i {
    margin-right: 10px;
  }
}
